@page
@model BlogSite.Pages_Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Add Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@category.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@category.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
