html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FFFDF1;
}

a {
  color: #FF9644;
}

a:hover {
  color: #e07d2e;
}

.btn-primary {
  background-color: #FF9644;
  border-color: #FF9644;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e07d2e;
  border-color: #e07d2e;
}

.card {
  border-left: 4px solid #FF9644;
  margin-bottom: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #FF9644;
  color: white;
}

.footer a {
  color: #FFCE99;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
